.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
  
  /* Display the modal when targeted */
.modal:target {
	display: table;
	position: absolute;
}
  
  /* The modal box */
.modal-dialog {
	display: table-cell;
	vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
	margin: auto;
	background-color: #f3f3f3;
	position: relative;
	padding: 0;
	outline: 0;
	border: 1px #777 solid;
	text-align: justify;
	width: fit-content;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
	/* Add animation */
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
	animation-name: example;
	animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
	text-decoration: none;
	float: right;
	font-size: 35px;
	font-weight: bold;
	color: black;
}

.closebtn:hover,
.closebtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

label[for="sl1"]::after{
    content: url('keks/arr_left.jpg');
    position: relative;
    cursor: pointer;
    size: 30px;
    top: 190px;
}

label[for="sl2"]::after{
    content: url('keks/arr_right.jpg');
    position: relative;
    cursor: pointer;
    size: 30px;
    top: 190px;
    left: 97vw;
}

input{
    display: none;
}

#sl1:checked ~ .row{
    margin-left: 0;
}

#sl2:checked ~ .row{
    margin-left: -100vw;
}

body
{
	margin: 0 auto;
	font-family: Arial;
    overflow-x: hidden;
}

.row{
	width: 200vw;
    transition: margin-left 0.5s;
}

.block
{
	box-sizing: border-box;
	float: left;
	width: 21vw;
	height: 200px;
	background-color: #fff;	
    margin: 2vw;
}

.text{
	display: none;
}

.item_img_img
{
    max-width: 100%;
    max-height: 400px;
}

.item_img
{
	text-align: center;
}

a.item_header
{
	height: 35px;
	display: block;
	font-weight: 700;
	font-size: 20px;
    margin-bottom: 8px;
    color: steelblue;
    text-align: center;
}

.block:hover .item_img
{
    position: relative;
	width: 23vw;
    left: -5%;
	top: -15px;
}

.block:hover .text{
	display: block;
	background-color: white;
	position: relative;
	width: 23vw;
	left: -5%;
	top: -15px;
}

.item_caption_ing{
	padding: 8px;
	font-style: italic;
}

[class ^= "item_caption"]
{
    height: fit-content;
    width: 23vw;
    left: -5%;
    top: -15px;
}

.item_img:focus ~ .item_img_img{
	width: 75vw;
}
