body
{
	margin: 0 auto;
	width: 75%;
	font-family: Arial;
	height: 1370px;
}

.block
{
    position: static;
	float: left;
	box-sizing: border-box;
	width: 300px;
	height: 200px;
	background-color: #fff;	
    margin: 10px;
	z-index: -1;
}

.text{
	display: none;
}

.item_img_img
{
    max-width: 100%;
    max-height: 300px;
}

.item_img
{
	text-align: center;
}

a.item_header
{
	height: 35px;
	display: block;
	font-weight: 700;
	font-size: 20px;
    margin-bottom: 8px;
    color: steelblue;
    text-align: center;
}

.block:hover .item_img
{
    position: relative;
	width: 350px;
    left: -25px;
    top: -15px;
}

.block:hover .text{
	display: block;
	position: relative;
	width: 350px;
	left: -25px;
    top: -15px;
	box-shadow:  5px 10px 5px #888888;
}

.item_caption_ing{
	padding: 8px;
	font-style: italic;
}

[class ^= "item_caption"]
{
	font-size: 14px;
}
