/*Start setup*/
body
{
	margin: 0 auto;
	width: 75%;
	font-family: Arial;
	height: 1370px;
}

/*Realised rating*/
.item__stars label::after
{
	content: '\2606';
	color: orange;
	font-size: 30px;
	cursor: pointer;
	margin: -3.7px;
}

.item__stars
{
	direction: rtl;
	text-align: left;
}

.item__stars input:hover ~ label::after,
.item__stars  input:checked ~ label::after
{
	content: '\2605';
}

.item__stars  input
{
	display: none;
}

/*Changing view model*/
#plate,
#list
{
	display: none;
}

[for = "plate"]
{
	margin-left: 22px;
}

[alt *= "-img"]
{
	height: 20px;
	margin-bottom: -3px
}

#plate:checked ~ [for="plate"],
#list:checked ~ [for="list"]
{
	color: red;
}

body > label
{
	font-size: 20px;
	padding: 5px;
	border: 1px groove black;
}

/*Setup simgle item*/
[class ^= "item__"]
{
	margin-bottom: 2px;
	margin-top: 2px;
}

.item
{
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 300px;
	height: 650px;
	background-color: #fff;
	border: 2px groove black;
	padding: 24px;
	margin: 10px 0px 0px 22px;
}

.item__image
{
	height: 300px;
	max-width: 100%;
}

.item__image__box
{
	text-align: center;
}

.item__name
{
	height: 35px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 8px;
}

.item__category
{
	color: #aaa;
	font-size: 12px;
}

.item__price
{
	color: #ff3333;
	font-weight: 700;
	font-size: 24px;
}

.item__price::after
{
	content: 'грн.';
}

.item__caption
{
	font-size: 14px;
	max-height: 160px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
}

/*List model*/
#list:checked ~ body
{
	width: 1000px;
}

#list:checked ~ .items .item
{
	display: block;
	width: 100%;
	height: 330px;
	padding: 8px;
}

#list:checked ~ .items .item__image__box
{
	padding: 0px;
	width: 300px;
	display: inline-block;
	float: left;
}

#list:checked ~ .items .item__data
{
	display: inline-block;
	float: left;
	height: 100%;
	width: 350px;
	text-align: center;
	padding-top: 80px;
}

#list:checked ~ .items .item__data .item__stars
{
	text-align: center;
}

#list:checked ~ .items .item__caption
{
	width: 300px;
	float: right;
	height: 100%;
	padding-top: 7%;
	margin-left: 0px; 
}

/*Hover effects*/
.item a:hover
{
	color: red;
	min-height: 23px;
	white-space: normal;
	font-size: 16px;
	text-overflow: initial;
}

.item__caption:hover
{
	overflow: visible;
	color: red;
	border: 1px groove black;
	background-color: white;
	max-height: initial;
	height: auto;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 4px;
}
