@media screen and (min-width: 1250px){
    p{
        font-size: 20px;
        margin: 0 auto;
    }
    
    .content{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 4fr 1fr;
    }
    
    .boxes{
        order: 1;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
    }
    
    .filter{
        order: 2;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: lightblue;
    }
    
    .kkal{
        text-align: center;
    } 
    
    .box{
        display: grid;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: lightblue;
        grid-template-rows: 4fr 1fr;
    }
    
    .box:hover{
        box-shadow: 5px 5px 18px #888888;
    }
    
    .img{
        display: inline-block;
        max-width: 60%;
        max-height: 95%;
        object-fit: contain;
        object-position: left top;
    }
    
    .top{
        border-bottom: 1px solid lightgray;
    }
    
    .name{
        vertical-align: top;
        display: inline-block;
        max-width: 40%;
        word-wrap: normal;
    }
    
    .info{
        padding-top: 5px;
    }
    
    input[name="filter"] {
        display:none;
    }
    
    .lbl {
        background: lightgray;
        text-align: center;
        margin: 10px 50px;
        padding: 5px;
        border: 1px solid darkgray;
        border-radius: 5px;
    }
    
    #f1:checked ~ label[for="f1"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f2:checked ~ label[for="f2"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f3:checked ~ label[for="f3"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f4:checked ~ label[for="f4"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f5:checked ~ label[for="f5"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    .filter form #f1:checked + .content #rlt,
    #f1:checked ~ .content #srnk,
    #f1:checked ~ .content #tst,
    #f1:checked + .content #trt{
        display: none;
    }
    
    .slidecontainer {
        display: block;
        width: 100%; /* Width of the outside container */
    }
    
    /* The slider itself */
    .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 2px; /* Specified height */
        background: gray; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }
    
    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }
    
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%; 
        background: darkblue; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
    
    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%; 
        background: darkblue; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
    
    .mob{
        display: none;
    }
}

@media screen and (max-width: 1249px){
    .slidecontainer{
        display: none;
    }
    .content{
        display: grid;
        grid-gap: 8px;
        grid-template-rows: 1fr 5fr;
    }
    
    .boxes{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
    }
    
    .filter{
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: lightblue;
    }

    .filters{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 50px;
    }

    .kkal {
        display: none;
    }
    
    .box{
        display: grid;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: lightblue;
    }
    
    .box:hover{
        box-shadow: 5px 5px 18px #888888;
    }
    
    .img{
        display: inline-block;
        max-height: 90%;
        object-fit: contain;
    }

    .bot{
        display: none;
    }
    
    .name{
        vertical-align: top;
        display: inline-block;
        word-wrap: normal;
        margin: 0 auto;
    }
    
    .info{
        padding-top: 5px;
    }
    
    input[name="filter"] {
        display:none;
    }
    
    .lbl {
        background: lightgray;
        text-align: center;
        margin: 10px 10px;
        padding: 5px;
        border: 1px solid darkgray;
        border-radius: 5px;
    }

    #f1:checked ~ label[for="f1"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f2:checked ~ label[for="f2"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f3:checked ~ label[for="f3"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f4:checked ~ label[for="f4"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f5:checked ~ label[for="f5"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    .filter form #f1:checked + .content #rlt,
    #f1:checked ~ .content #srnk,
    #f1:checked ~ .content #tst,
    #f1:checked + .content #trt{
        display: none;
    }
    
    .slidecontainer {
        display: none;
        width: 100%; /* Width of the outside container */
    }
    
    /* The slider itself */
    .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 2px; /* Specified height */
        background: gray; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }
    
    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }
    
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%; 
        background: darkblue; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
    
    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%; 
        background: darkblue; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .mob{
        display: none;
    }
}

@media screen and (max-width: 860px){
    p{
        font-size: 20px;
        margin: 0 auto;
    }
    
    .content{
        display: grid;
        grid-gap: 8px;
        grid-template-rows: 1fr 11fr;
    }
    
    .boxes{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
    }
    
    .filter{
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: lightblue;
    }

    .filters{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 40px;
    }
    
    .kkal{
        display: none;
    } 
    
    .box{
        display: none;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: lightblue;
    }
    
    .box:hover{
        box-shadow: 5px 5px 18px #888888;
    }
    
    .img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: left top;
    }

    .mob{
        display: inline-block;
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .mob:hover{
        box-shadow: 5px 5px 18px #888888;
    }
    
    .bot{
        display: none;
    }
    
    .name{
        display: none;
    }
    
    .info{
        display: none;
    }
    
    input[name="filter"] {
        display:none;
    }
    
    .lbl {
        background: lightgray;
        text-align: center;
        margin: 5px 5px;
        padding: 2px;
        border: 1px solid darkgray;
        border-radius: 5px;
    }
    
    #f1:checked ~ label[for="f1"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f2:checked ~ label[for="f2"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f3:checked ~ label[for="f3"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f4:checked ~ label[for="f4"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    #f5:checked ~ label[for="f5"] .lbl{
        border: 1px solid black;
        background: crimson;
    }
    
    .filter form #f1:checked + .content #rlt,
    #f1:checked ~ .content #srnk,
    #f1:checked ~ .content #tst,
    #f1:checked + .content #trt{
        display: none;
    }
    
    .slidecontainer {
        display: none;
        width: 100%; /* Width of the outside container */
    }
    
    /* The slider itself */
    .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 2px; /* Specified height */
        background: gray; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }
    
    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }
    
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%; 
        background: darkblue; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
    
    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%; 
        background: darkblue; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
}